#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

&mt {
    flavor = "balanced";
    tapping-term-ms = <500>;
};

&lt {
    flavor = "balanced";
    tapping-term-ms = <500>;
};

/ {
    combos {
        compatible = "zmk,combos";

        c_lclk {
            bindings = <&mkp LCLK>;
            key-positions = <16 17>;
            layers = <0 1>;
        };

        c_rclk {
            bindings = <&mkp RCLK>;
            key-positions = <18 17>;
            layers = <0 1>;
        };

        c_mclk {
            bindings = <&mkp MCLK>;
            key-positions = <16 17 18>;
            layers = <0 1>;
        };

        c_lbrkt_jis {
            bindings = <&kp RIGHT_BRACKET>;
            key-positions = <24 25>;
            layers = <0 1>;
        };

        c_minus_jis {
            bindings = <&kp MINUS>;
            key-positions = <6 7>;
            layers = <0 1>;
        };

        c_hat_jis {
            bindings = <&kp EQUAL>;
            key-positions = <8 7>;
            layers = <0 1>;
        };

        c_yen_jis {
            bindings = <&kp INTERNATIONAL_3>;
            key-positions = <8 9>;
            layers = <0 1>;
        };

        c_rbrkt_jis {
            bindings = <&kp BACKSLASH>;
            key-positions = <26 27>;
            layers = <0 1>;
        };l

        c_Ro_jis {
            bindings = <&kp INT_RO>;
            key-positions = <31 30>;
            layers = <0 1>;
        };

        c_atmk_jis {
            bindings = <&kp LEFT_BRACKET>;
            key-positions = <18 19>;
            layers = <0 1>;
        };
    };

    macros {
        win_open: win_open {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_CONTROL &kp LEFT_ALT &kp DELETE>,
                <&macro_release>,
                <&kp LEFT_CONTROL &kp LEFT_ALT &kp DELETE>;

            label = "WIN_OPEN";
        };

        win_lock: win_lock {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_GUI &kp L>,
                <&macro_release>,
                <&kp LEFT_GUI &kp L>;

            label = "WIN_LOCK";
        };

        macro_9981: macro_9981 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp N9 &kp N9 &kp N8 &kp N1 &kp N9 &kp N9 &kp N8 &kp N1>;
            label = "MACRO_9981";
        };

        bt0: bt0 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 0 &to 0>;
            label = "BT0";
        };

        bt1: bt1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 1 &to 1>;
            label = "BT1";
        };

        bt2: bt2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 2 &to 1>;
            label = "BT2";
        };

        bt3: bt3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 3 &to 1>;
            label = "BT3";
        };

        bt4: bt4 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 4 &to 1>;
            label = "BT4";
        };
    };

    behaviors {
        kp_semicolon_us: kp_semicolon_us {
            compatible = "zmk,behavior-mod-morph";
            label = "KP_SEMICOLON_US";
            bindings = <&kp SEMICOLON>, <&kp SQT>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        mac_base {
            bindings = <
&kp Q                    &kp W           &kp E         &kp R             &kp T                                                    &kp Y      &kp U  &kp I      &kp O          &kp P
&mt LEFT_GUI A           &mt LEFT_GUI S  &kp D         &kp F             &kp G                                                    &kp H      &kp J  &kp K      &lt 7 L        &kp_semicolon_us
&kp Z                    &kp X           &kp C         &kp V             &kp B             &kp LS(N8)                &kp LS(N9)   &kp N      &kp M  &kp COMMA  &kp DOT        &kp FSLH
&mt LEFT_CONTROL ESCAPE  &kp LEFT_ALT    &kp LEFT_GUI  &lt 4 LANGUAGE_2  &lt 5 LANGUAGE_1  &mt LEFT_SHIFT SPACE      &lt 3 ENTER  &lt 2 TAB  &none  &none      &kp BACKSPACE  &kp DELETE
            >;
        };

        win_base {
            bindings = <
&trans       &trans       &trans  &trans  &trans                                &trans  &trans  &trans  &trans  &trans
&mt LCTRL A  &mt LCTRL S  &trans  &trans  &trans                                &trans  &trans  &trans  &trans  &trans
&trans       &trans       &trans  &trans  &trans            &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans       &trans       &trans  &trans  &lt 6 LANGUAGE_1  &trans      &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        sign {
            bindings = <
&kp F1   &kp F2   &kp F3  &kp F4  &kp F5                       &none       &kp N7        &kp N8        &kp N9        &none
&kp F6   &kp F7   &kp F8  &kp F9  &kp F10                      &kp PERIOD  &kp NUMBER_4  &kp N5        &kp NUMBER_6  &none
&kp F11  &kp F12  &none   &none   &none    &none       &none   &kp N0      &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &none
&trans   &trans   &trans  &trans  &trans   &trans      &trans  &trans      &trans        &trans        &trans        &trans
            >;
        };

        num {
            bindings = <
&kp N1             &kp N2     &kp N3       &kp N4     &kp N5                             &kp N6    &kp N7    &kp N8        &kp N9     &kp N0
&kp LS(SEMICOLON)  &kp MINUS  &kp LS(SQT)  &kp SLASH  &kp LS(MINUS)                      &kp LEFT  &kp DOWN  &kp UP_ARROW  &kp RIGHT  &kp F2
&trans             &trans     &trans       &trans     &trans         &trans      &trans  &trans    &trans    &trans        &trans     &trans
&trans             &trans     &trans       &trans     &trans         &trans      &trans  &trans    &trans    &trans        &trans     &trans
            >;
        };

        layer_8 {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans                      &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        mac_macro {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans              &trans              &trans            &trans         &trans
&trans  &trans  &trans  &trans  &trans                      &kp LC(LEFT_ARROW)  &kp LC(DOWN)        &kp LC(UP_ARROW)  &kp LC(RIGHT)  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &kp LG(LEFT)        &kp LG(DOWN_ARROW)  &kp LG(UP_ARROW)  &kp LG(RIGHT)  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans              &trans              &trans            &trans         &trans
            >;
        };

        win_macro {
            bindings = <
&trans  &trans  &trans  &trans     &trans                              &trans              &trans              &trans            &trans             &trans
&trans  &trans  &trans  &trans     &trans                              &kp LC(LG(LEFT))    &kp LG(Z)           &kp LG(TAB)       &kp LC(LG(RIGHT))  &trans
&trans  &trans  &trans  &win_lock  &win_open  &macro_9981      &trans  &kp LG(LEFT_ARROW)  &kp LG(DOWN_ARROW)  &kp LG(UP_ARROW)  &kp LG(RIGHT)      &trans
&trans  &trans  &trans  &trans     &trans     &trans           &trans  &trans              &trans              &trans            &trans             &trans
            >;
        };

        sucroller {
            bindings = <
&none      &none         &none           &none         &none                    &none  &none      &none              &none  &none
&kp LCTRL  &kp LEFT_ALT  &kp LEFT_SHIFT  &kp LEFT_GUI  &none                    &none  &kp MINUS  &kp LS(SEMICOLON)  &none  &none
&none      &none         &none           &none         &none  &none      &none  &none  &none      &none              &none  &none
&none      &none         &none           &none         &none  &none      &none  &none  &none      &none              &none  &none
            >;
        };

        setting {
            bindings = <
&bt0    &bt1    &bt2    &bt3        &bt4                                &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &bt BT_CLR  &bt BT_CLR_ALL                      &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans      &trans          &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans      &trans          &trans      &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        setting_mac {
            if-layers = <2 5>;
            then-layer = <8>;
        };

        setting_win {
            if-layers = <2 6>;
            then-layer = <8>;
        };
    };
};
