#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    combos {
        compatible = "zmk,combos";

        bt_clear {
            bindings = <&bt BT_CLR>;
            key-positions = <28 29>;
            layers = <2>;
        };

        lclk {
            bindings = <&mkp LCLK>;
            key-positions = <33 34>;
            layers = <0>;
        };

        rclk {
            bindings = <&mkp RCLK>;
            key-positions = <34 35>;
            layers = <0>;
        };
    };

    behaviors {
        lmt: lmt {
            compatible = "zmk,behavior-hold-tap";
            label = "Layer/Mouce Tap";
            bindings = <&mo>, <&mkp>;

            #binding-cells = <2>;
            tapping-term-ms = <50>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
&none  &none             &none             &none     &none             &none                                                     &none        &none  &none      &none          &none                 &none
&none  &kp Q             &kp W             &kp E     &kp R             &kp T                                                     &kp Y        &kp U  &kp I      &kp O          &kp P                 &none
&none  &kp A             &kp S             &kp D     &kp F             &kp G                 &none             &none             &kp H        &kp J  &kp K      &kp L          &kp MINUS             &none
&none  &kp Z             &kp X             &kp C     &kp V             &kp B                 &kp LS(NUMBER_8)  &kp LS(NUMBER_9)  &kp N        &kp M  &kp COMMA  &kp DOT        &mt RIGHT_SHIFT FSLH  &none
&none  &mt LCTRL ESCAPE  &mt LEFT_GUI TAB  &kp LALT  &lt 4 LANGUAGE_2  &mt LEFT_SHIFT SPACE  &lt 3 LANGUAGE_1  &lmt 1 LCLK       &lt 2 ENTER  &none  &none      &kp BACKSPACE  &kp DELETE            &none
            >;
        };

        layer_1 {
            bindings = <
&trans  &trans             &trans        &trans        &trans        &trans                         &trans        &trans        &trans        &trans        &trans        &trans
&trans  &kp NUMBER_1       &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp NUMBER_5                   &kp NUMBER_6  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp NUMBER_0  &trans
&trans  &kp LS(SEMICOLON)  &kp MINUS     &kp LS(SQT)   &kp SLASH     &kp LS(MINUS)  &trans  &trans  &trans        &mkp LCLK     &mkp MCLK     &mkp RCLK     &trans        &trans
&trans  &trans             &trans        &trans        &trans        &trans         &trans  &trans  &trans        &trans        &trans        &trans        &trans        &trans
&trans  &trans             &trans        &trans        &trans        &trans         &trans  &trans  &trans        &trans        &trans        &trans        &trans        &trans
            >;
        };

        layer_2 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                                    &trans  &trans            &trans         &trans         &trans     &trans
&trans  &trans  &trans  &trans  &trans  &trans                                    &trans  &kp LEFT_BRACKET  &kp BACKSLASH  &kp EQUAL      &kp INT1   &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans             &trans         &trans  &trans            &trans         &kp SEMICOLON  &kp COLON  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &kp RIGHT_BRACKET  &kp BACKSLASH  &trans  &trans            &trans         &trans         &kp INT3   &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans             &trans         &trans  &trans            &trans         &trans         &trans     &trans
            >;
        };

        layer_3 {
            bindings = <
&trans  &trans   &trans   &trans        &trans        &trans                      &trans            &trans     &trans         &trans     &trans      &trans
&trans  &kp F1   &kp F2   &kp F3        &kp F4        &kp F5                      &kp HOME          &kp PG_UP  &kp PAGE_DOWN  &kp END    &kp ESCAPE  &trans
&trans  &kp F6   &kp F7   &kp F8        &kp F9        &kp F10     &trans  &trans  &kp LEFT          &kp DOWN   &kp UP_ARROW   &kp RIGHT  &kp TAB     &trans
&trans  &kp F11  &kp F12  &out OUT_USB  &out OUT_BLE  &bt BT_NXT  &trans  &trans  &kp SINGLE_QUOTE  &kp DQT    &kp GRAVE      &kp TILDE  &kp PIPE    &trans
&trans  &trans   &trans   &trans        &kp DELETE    &kp TAB     &trans  &trans  &trans            &trans     &trans         &trans     &trans      &trans
            >;
        };

        layer_4 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        layer_5 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};
